<div *ngIf="!data.value">
  <h1 mat-dialog-title align="center">Feedback Form Not Complete!</h1>
  <div mat-dialog-content align="center">
    <p>
      Please complete the Feedback Form.<br>
      Panels in red contain fields that are not filled.
    </p>
  </div>
  <div mat-dialog-actions align="center">
    <button mat-raised-button color="primary" [mat-dialog-close]="">OK</button>
  </div>
</div>
<div *ngIf="data.value">
  <h1 mat-dialog-title align="center">Feedback Form Complete!</h1>
  <div mat-dialog-content align="center">
    <p>
      Thank you for your Feedback!
    </p>
  </div>
  <div mat-dialog-actions align="center">
    <button mat-raised-button color="primary" [mat-dialog-close]="">LOGOUT</button>
  </div>
</div>