<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row" style="padding: 0 40px 0 40px;">
      <span class="mdl-layout-title">Teacher Feedback</span>
    </div>
  </header>
  <main class="mdl-layout__content" style="background:url(http://wallpaper-house.com/data/out/12/wallpaper2you_492194.jpg)">
    <div class="page-content" align="center" style="margin-top:12%;">
      <div style="padding:20px;">
        <mat-card style="padding:20px;width:24%;padding-top:25px;border-radius:15px;">
          <mat-form-field>
            <input matInput placeholder="USN" #username required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-select placeholder="Semester" [formControl]="semesterControl" [(value)]="semesterSelection" required>
              <mat-option *ngFor="let s of Semester" [value]="s.value">
                {{ s.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error>Please choose an option</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Section" [formControl]="sectionControl" [(value)]="sectionSelection" required>
              <mat-option *ngFor="let se of Section" [value]="se.value">
                {{ se.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error>Please choose an option</mat-error>
          </mat-form-field>
          <br>
          <div align="center" style="padding-top:10px">
            <button mat-raised-button color="primary" (click)="login(username.value)">LOGIN</button>
          </div>
        </mat-card>
      </div>
    </div>
  </main>
</div>