.mat-action-row {
    padding:8px 8px 8px 24px;
}

.mat-card {
    background-color: rgba(0,0,0,0.15);
}

.example-container {
    display: flex;
    flex-direction: column;
}
  
.example-container > * {
    width: 90%;
}