<div style="padding:10px">
  <mat-card class="example-card">
  
    <mat-card-header>
      <mat-card-title>Subject Teachers of 6D</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div style="padding:10px">

        <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Teacher 1
              </mat-panel-title>
              <mat-panel-description>
                Click to give Feedback
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
              <!-- <input matInput placeholder="First name"> -->
              <mat-select placeholder="Use of Board">
                <mat-option *ngFor="let f of Feedbacks" [value]="f.value">
                  {{ f.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- <mat-form-field>
              <input matInput type="number" min="1" placeholder="Age">
            </mat-form-field> -->

            <mat-action-row>
              <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Teacher 2
              </mat-panel-title>
              <mat-panel-description>
                Click to give Feedback
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
              <!-- <input matInput placeholder="First name"> -->
              <mat-select placeholder="Use of Board">
                <mat-option *ngFor="let f of Feedbacks" [value]="f.value">
                  {{ f.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- <mat-form-field>
              <input matInput type="number" min="1" placeholder="Age">
            </mat-form-field> -->

            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previous</button>
              <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Teacher 3
              </mat-panel-title>
              <mat-panel-description>
                Click to give Feedback
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
              <!-- <input matInput placeholder="First name"> -->
              <mat-select placeholder="Use of Board">
                <mat-option *ngFor="let f of Feedbacks" [value]="f.value">
                  {{ f.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- <mat-form-field>
              <input matInput type="number" min="1" placeholder="Age">
            </mat-form-field> -->

            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previous</button>
              <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Teacher 4
              </mat-panel-title>
              <mat-panel-description>
                Click to give Feedback
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
              <!-- <input matInput placeholder="First name"> -->
              <mat-select placeholder="Use of Board">
                <mat-option *ngFor="let f of Feedbacks" [value]="f.value">
                  {{ f.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- <mat-form-field>
              <input matInput type="number" min="1" placeholder="Age">
            </mat-form-field> -->

            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previous</button>
              <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Teacher 5
              </mat-panel-title>
              <mat-panel-description>
                Click to give Feedback
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
              <!-- <input matInput placeholder="First name"> -->
              <mat-select placeholder="Use of Board">
                <mat-option *ngFor="let f of Feedbacks" [value]="f.value">
                  {{ f.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- <mat-form-field>
              <input matInput type="number" min="1" placeholder="Age">
            </mat-form-field> -->

            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previous</button>
              <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Teacher 6
              </mat-panel-title>
              <mat-panel-description>
                Click to give Feedback
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
              <!-- <input matInput placeholder="First name"> -->
              <mat-select placeholder="Use of Board">
                <mat-option *ngFor="let f of Feedbacks" [value]="f.value">
                  {{ f.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- <mat-form-field>
              <input matInput type="number" min="1" placeholder="Age">
            </mat-form-field> -->

            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previous</button>
              <button mat-button color="primary" (click)="nextStep()">End</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-card-content>
  </mat-card>
</div>